/*!
* 将会被自动应用的全局样式文件，会生成在最终的 CSS 文件结尾，具有比默认样式更高的优先级
* https://www.stylus-lang.cn/docs/css-style.html
*/

.logo
  border-radius: 50%

.footer-wrapper.footer > span:first-child {
  display: none;
}

.red
  color: #eb4339;

.content__default code
  color: #eb4339!important;

span.my_toast {
  display: block;
  position: absolute;
  z-index: 9;
  font-size: 14px;
  line-height: 20px;
  animation: move 0.7s ease-in-out 0.3s 1 normal;
}

// animation: name duration timing-function delay iteration-count direction;
@keyframes move {
  0%, 100% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
  }
}
